{% extends "./partials/layout.njk" %}

{% block content %}
  <div class="container text-center px-4 py-8 md:px-8 md:p-12">
    <p>A little starter project with Parcel, Nunjucks and Tailwind.</p>
    <a class="inline-flex items-center mt-8 hover:underline focus:underline" href="https://twitter.com/MicheBarks">
      <svg class="w-8 h-8 mr-4" width="50" height="50" xmlns="http://www.w3.org/2000/svg">
        <use href="../sprite.svg#twitter"></use>
      </svg>
      <span>@MicheBarks</span>
    </a>
  </div>
{% endblock %}